@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #202020;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.input {
  @apply min-w-[280px] min-h-[32px] pt-[5px] pb-[3px] px-3 rounded-[5px] text-[13px] bg-[#2D2D2D] border border-b-[#999999] border-t-[#2D2D2D] border-l-[#2D2D2D] border-r-[#2D2D2D]
}

.input:focus {
  @apply outline-none border-b-[#4CC2FF] bg-[#1F1F1F]
}

.button {
  @apply min-w-[130px] min-h-[32px] pt-[5px] pb-[3px] w-fit self-end rounded-[5px] text-[13px] bg-[#373737] hover:bg-[#3C3C3C]
}